<div class= "container">
    <div class="row">
        <div class="col-12">
<div class="jumbotron">
<h1 class="display-4">Productos de Limpieza</h1>
<p class="lead">Somos distribuidores de insumos para limpieza e higiene integral. Tenemos una experiencia 
de más de 12 años en este rubro que nos hace una empresa sólida y confiable.
Operamos dentro de Buenos Aires con nuestros propios vehículos, y tenemos una logística que llega a todo 
el país, colocando a nuestra empresa en la distribuidora más confiable y efectiva.</p>
<hr class="my-4">
<p>Nuestra diferencia, es la atención que brindamos a nuestros clientes y el asesoramiento continuo, 
con esto y la variedad de productos que tenemos disponibles, hace que Cleanup! sea una empresa que 
satisface las necesidades de cada cliente en particular.</p>
</div>
</div>
    </div>
</div>

