<div class= "container">
    <div class="row">
        <div class="col-12">
<div class="jumbotron">
<h1 class="display-4">Productos de Limpieza</h1>
<p class="lead">Los productos de limpieza desempeñan un papel esencial en la vida diaria en el hogar, 
en la escuela y en la oficina. Mediante la eliminación segura y eficaz de la tierra, los gérmenes y 
otros contaminantes, se impide la propagación de enfermedades infecciosas y alérgenos de control, 
tales como el polvo y el moho; lo que nos ayuda a mantenernos sanos. Los productos de limpieza también nos 
permiten cuidar nuestros hogares y pertenencias.</p>
<hr class="my-4">
<p>Los productos químicos usados para la limpieza y en productos de limpieza, 
como detergentes para la ropa, lejías, productos para lavar platos y otros productos de limpieza, 
ayudan a mejorar la eficacia y facilitan la limpieza e higiene de los hogares, las oficinas y otros ambientes.</p>
</div>
</div>
    </div>
</div>

