<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Categoria</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad   </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'sale': product.sale}">
            <td><img width="100" class="img-thumbnail" [src]="product.image" [alt]="product.name"/></td>
            <td>{{product.category}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price | currency}}</td>
            <td><span *ngIf="product.stock==0" class="badge badge-danger">SIN STOCK</span></td>
            <td><app-input-integer [(quantity)] = "product.quantity" [max]= "product.stock" *ngIf="product.stock"(maxReached) = "maxReached ($event)"></app-input-integer></td>
            <td><button class="btn btn-primary" (click)="addToCart(product)">Comprar</button></td>
            
        </tr>
    </tbody>
</table>
