<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Categoria</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="product.image" [alt]="product.name"/></td>
            <td>{{product.category}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="product1.image" [alt]="product1.name"/></td>
            <td>{{product1.category}}</td>
            <td>{{product1.name}}</td>
            <td>{{product1.price}}</td>
            <td>{{product1.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="product2.image" [alt]="product2.name"/></td>
            <td>{{product2.category}}</td>
            <td>{{product2.name}}</td>
            <td>{{product2.price}}</td>
            <td>{{product2.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="product3.image" [alt]="product3.name"/></td>
            <td>{{product3.category}}</td>
            <td>{{product3.name}}</td>
            <td>{{product3.price}}</td>
            <td>{{product3.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="product4.image" [alt]="product4.name"/></td>
            <td>{{product4.category}}</td>
            <td>{{product4.name}}</td>
            <td>{{product4.price}}</td>
            <td>{{product4.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="product5.image" [alt]="product5.name"/></td>
            <td>{{product5.category}}</td>
            <td>{{product5.name}}</td>
            <td>{{product5.price}}</td>
            <td>{{product5.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="product6.image" [alt]="product6.name"/></td>
            <td>{{product6.category}}</td>
            <td>{{product6.name}}</td>
            <td>{{product6.price}}</td>
            <td>{{product6.stock}}</td>
        </tr>
    </tbody>
</table>
